.horizontal {
    min-width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 80%;
}

.list {
    box-shadow: none;
    border: 1px solid black;
}

.cart-container {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.product-image {
    max-width: 20%;
    max-height: 10rem;
    margin: 1rem;
}

.cart-list {
    list-style: none;
}
