.navigation li {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.badge-container {
    padding: 0;
    margin: 0;
}

.navigation {
    border: none;
}

.badge {
    background-color: red;
}